body{
	background-image: url('../img/lined_paper.png');
}

#bootstrap_overrides .row{
	margin-left: 0px;
	margin-right: 0px;
}

#bootstrap_overrides .table>tbody>tr>td{
	border-top: none;
}

#side_menu{
	position: fixed;
	display: block; 
	/*background: AliceBlue;*/
	background-image: url('../img/ep_naturalblack.png');
	width: 100px;
	height: 100%;
	right: 0%;
	box-shadow: 0px 0px 4px black;
}

#menu_lines{
	filter: invert(100%);
    position: fixed;
    top: 1%;
    right: 33px;
}

#btn-add{
	color: white;
	position: fixed;
    top: 80px;
	right: 25px;
	font-size: 4em;
	/*transition: color 0.4s ease;*/

	animation-name: concentric;
	animation-duration: 2s;
	/*animation-iteration-count: infinite;*/
}

/*#btn-add::before{
	border: 4px solid red;
	border-radius: 29px;
}*/

@keyframes concentric{
	50% { 
	    transition: scale(1.1);
	}
}

#btn-add:hover{
	color: DarkBlue;
}

#btn-log{
    color: white;
	position: fixed;
    top: 220px;
	right: 25px;
	font-size: 4em;
}

#btn-log-out{
	color: white;
	position: fixed;
	bottom: 180px;
	right: 23px;
	font-size: 3.5em;
}

#btn-config{
	color: white;
	position: fixed;
	bottom: 25px;
	right: 25px;
	font-size: 4em;
}

.name-app{
	font-family: lobster;
	margin-bottom: 20px;
}

.task{
	font-size: 1.3em;
	font-family: indie flower;
}

.btn-task{
	background: mediumseagreen;
	border: none;
	height: 25.84px;
	letter-spacing: 1px;
	transition: background ease 0.4s;
	/*transition: color ease 0.4s;*/s
}

.btn-task:hover{
	background: #bdb37f;
	/*color: white;*/
}

/*.btn-task:active{
	background: #bdb37f;
}*/

.color{
	/*background: rgba(125, 125, 125, 0.6);*/
}

input{
	display: inline-block;
}

input.min, input.hrs, input.seg{
	width : 42px;
	margin-left: -7px;
	background: whitesmoke;
    border: none;
    height: 25.84px;
}

input.tas{
	width: 260px;
	background: whitesmoke;
	border-radius: 3px;
    border: solid 2px gray;
    height: 25.84px;
    font-size: 0.7em;
    padding-left: 5px;
}


#tablaFormReg{
	margin: 0 auto;
	margin-top: 190px;
	padding: 0px;
	background: rgba(140,18,38,0.7);
	
}

#tablaFormReg td{
	padding: 3px 10px 3px 10px;
	width: 200px;
}

.first-input{
	margin-top: 26px;
}

.input-box{
	border-radius: 5px;
	border: 3px black solid;
	font-size: 0.9em;
	padding: 5px;
	width: 200px;
	margin: 0 auto;
	display: block;
}