body{
	background-image: url('../img/whirlpool.png');
}

#bootstrap_overrides .row{
	margin-left: 0px;
	margin-right: 0px;
}

#bootstrap_overrides .table>tbody>tr>td{
	border-top: none;
}

.name-app{
	font-family: lobster;
	margin-bottom: 20px;
}

.task{
	font-size: 1.3em;
	font-family: indie flower;
}

.btn-task{
	background: mediumseagreen;
	border: none;
	height: 25.84px;
	letter-spacing: 1px;
	transition: background ease 0.4s;
	transition: color ease 0.4s;
}

.btn-task:hover{
	background: #1d1d1d;
	color: white;
}

.btn-task:active{
	background: blue;
}

.color{
	/*background: rgba(125, 125, 125, 0.6);*/
}

input{
	display: inline-block;
}

input.min, input.hrs{
	width : 42px;
	margin-left: -7px;
	background: whitesmoke;
    border: none;
    height: 25.84px;
}

input.tas{
	width: 260px;
	background: whitesmoke;
	border-radius: 3px;
    border: solid 2px gray;
    height: 25.84px;
    font-size: 0.7em;
}


#tablaFormReg{
	margin: 0 auto;
	margin-top: 190px;
	padding: 0px;
	background: rgba(140,18,38,0.7);
	
}

#tablaFormReg td{
	padding: 3px 10px 3px 10px;
	width: 200px;
}

.first-input{
	margin-top: 26px;
}

.input-box{
	border-radius: 5px;
	border: 3px black solid;
	font-size: 0.9em;
	padding: 5px;
	width: 200px;
	margin: 0 auto;
	display: block;
}